################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
/Test/.vs/Test/v17/.suo
/Test/.vs/Test/v17/DocumentLayout.backup.json
/Test/.vs/Test/v17/DocumentLayout.json
*.htm
*.cache
/Test/Test/obj/Debug/Test_MarkupCompile.i.lref
/Test/Test/obj/Debug/CapHuyen.g.i.cs
/.gitignore
/Test/Test/obj/Debug/CapHuyen.g.i.cs
/Test/Test/obj/Debug/CapHuyen.g.i.cs
/Test/Test/obj/Debug/CapHuyen.g.i.cs
/Test/Test/obj/Debug/MainWindow.g.i.cs
/Test/.vs/Test/CopilotIndices/0.2.1634.3922
/Test/.vs/Test/copilot-chat/42c370bc/sessions
/Test/Test/bin/Debug/Test.exe
/Test/Test/bin/Debug/Test.pdb
/Test/Test/obj/Debug/Admin.g.i.cs
/Test/Test/obj/Debug/ChangePassword.g.i.cs
/Test/Test/QuanLyGiongVatNuoi.xaml
/Test/Test/UserInfo.xaml.cs
