/Test/.vs/Test/v17/.suo
/Test/.vs/Test/v17/DocumentLayout.backup.json
/Test/.vs/Test/v17/DocumentLayout.json
/.vs/KyThuatPhanMem/v17/.wsuo
*.json
/Test/.vs/Test/FileContentIndex/2d2cb57a-24f6-465e-9102-7abd62c108ab.vsidx
/Test/.vs/Test/v17/.suo
/Test/.vs/Test/v17/DocumentLayout.backup.json
*.lref
*.cache
/Test/.vs/Test/v17/DocumentLayout.json
/Test/.vs/Test/v17/DocumentLayout.backup.json
/Test/.vs/Test/v17/.suo
*.vsidx
/Test/Test/obj/Debug/MainWindow.g.i.cs
﻿*.vsidx
/Test/UpgradeLog.htm
/Test/UpgradeLog2.htm
/Test/.vs/Test/FileContentIndex/551ad132-a313-415b-adb8-558e93902681.vsidx
*.suo
*.json
